# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
# *.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# computer specific
venv/
.idea/

lstm_text_generation\.py

logs/2018-06-20_11-18_TIGERs_Mannheim-vs-ER-Force\.log

logs/testfile\.json

logs/lstmlog\.txt

create_test_file\.py

logs/lstmlogdiv200\.txt

Saved_models/lstm\.json

Saved_models/lstm0\.h5

Saved_models/lstm0\.json

Saved_models/lstm1\.h5

Saved_models/lstm1\.json

Saved_models/lstm100\.h5

Saved_models/lstm100\.json

Saved_models/lstm2\.h5

Saved_models/lstm2\.json

Saved_models/lstm4\.h5

Saved_models/lstm4\.json

Saved_models/lstm\.h5

Saved_models/rnn\.h5

Saved_models/rnn\.json

Saved_models/lstm16\.h5

Saved_models/lstm16\.json
